<div>
    <h3>Practices</h3>
    <ul>
        <li ng-repeat="practice in Practice.practices">
            {{ practice.short_name }} <br />
            <input ng-model="practice.drug_search" placeholder="Drug Name">
            <a href="" ng-click="Practice.SearchPatientsByDrug(practice.id, practice.drug_search)">Search By Drug</a>
            <div
                    ng-if="practice.patient_list || Practice.loading_details"
                    ng-class="{loading: Practice.loading_details && (!practice.patient_list)}">
                <pre>{{ practice.patient_list | json }}</pre>
                <a ng-click="Practice.HideDetails(practice)" ng-if="practice.patient_list" href="">close</a>
            </div>
        </li>
    </ul>
</div>