<p>
    Request a simple message from the API. The user's assigned roles will determine which pings you can request.<br />
    <a href="" ng-click="Home.Ping()">Ping<br /></a>
    <a href="" ng-if="Home.isLoggedIn" ng-click="Home.SecurePing()">Secure Ping<br /></a>
    <a href="" auth-role="patient" ng-click="Home.PatientPing()">Ping as Patient<br /></a>
    <a href="" auth-role="practice" ng-click="Home.PracticePing()">Ping as Practice<br /></a>
    <a href="" auth-role="patient practice" ng-click="Home.PatientOrPracticePing()">Ping as Patient or Practice<br /></a>
</p>
<p ng-if="Home.pingStatus">
    Status: {{ Home.pingStatus }}
</p>
<p ng-if="Home.isLoggedIn">
    Request a printout of all the claims in the user's jwt.<br />
    <a href="" ng-click="Home.ReadClaims()">Claims</a>
    <br />
    <ul>
        <li ng-repeat="claim in Home.claims">
            {{ claim }}
        </li>
    </ul>
</p>
