/* app css stylesheet */

body{
    margin: 8px;
}

footer{
    text-align: right;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#auth{
  float: right;
}

body .auth-hide{
    display: none;
}

.loading {
    background-image: url(/images/default.gif);
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px;
}