<div>
    <h3>Practices</h3>
    <ul>
        <li ng-repeat="practice in Patient.practices">
            {{ practice.short_name }}
            <a href="" ng-click="Patient.GetDetails(practice.id, practice.patient_id)">Get Record Details</a>
            <div
                    ng-if="practice.patient_details || Patient.loading_details"
                    ng-class="{loading: Patient.loading_details && (!practice.patient_details)}">
                <pre>{{ practice.patient_details | json }}</pre>
                <a ng-click="Patient.HideDetails(practice)" ng-if="practice.patient_details" href="">close</a>
            </div>
        </li>
    </ul>
</div>